src/AIoT-Based Weather Forecasting System Using Machine Learning/Node-red&web&db/flows.json
[
    {
        "id": "5c2e9b2fe9964f5c",
        "type": "tab",
        "label": "Weather_Forecasting",
        "disabled": false,
        "info": "Flow giám sát môi trường với ESP32 và Firebase"
    },
    {
        "id": "cfdbd4262875d888",
        "type": "group",
        "z": "5c2e9b2fe9964f5c",
        "name": "Database Storage SQL",
        "style": {
            "label": true
        },
        "nodes": [
            "1c4ff6804eba0c4d",
            "e82ee1438ebd066f",
            "5cd7c2b325db48af",
            "4d5e60de5a55b8cc",
            "3ab11383b6e837d3",
            "b7e4ae74cf07d859",
            "02f2b9a3b58f3b1e",
            "b7b1204bedc6bd99",
            "8a4460bfc763bfd9",
            "414f99a6d3237c37",
            "39f1e1ed8c7f55fb"
        ],
        "x": 514,
        "y": 19,
        "w": 652,
        "h": 282
    },
    {
        "id": "3704a8085949e857",
        "type": "group",
        "z": "5c2e9b2fe9964f5c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9f722bf52141d174",
            "070c443e4677af1d",
            "5870b49dcbf5837e",
            "3393015b3419f84e",
            "32248cbea328253b",
            "715abdd0d511f358",
            "756f9493cc66a4f8",
            "ab18a4bf02d10bdd",
            "dbea9227ddb94e68",
            "2fd355ef5af66522",
            "a5f82dbcc7c063db",
            "271be1c6ea49b957",
            "ba517c75609cc476",
            "31d1603786f459a1",
            "6332db37853fa825",
            "169b63f8bad81f0e",
            "9217eb97c6d15254",
            "b6338a750ba4dd9c"
        ],
        "x": 54,
        "y": 19,
        "w": 452,
        "h": 622
    },
    {
        "id": "54964a7e613b44dc",
        "type": "group",
        "z": "5c2e9b2fe9964f5c",
        "name": "Firebase Integration",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "898e06729d3cde30",
            "76e24ebb14187047",
            "8245b0de244f98fd",
            "1eab2ee59237e875",
            "0eee6ec45cc2a6ea",
            "e81bd4fe1a9e9e16",
            "3c540857e7b0d99e",
            "96e88ac062c96179",
            "41670f9a9970932d"
        ],
        "x": 514,
        "y": 299,
        "w": 652,
        "h": 342
    },
    {
        "id": "b51f6c953abae749",
        "type": "group",
        "z": "5c2e9b2fe9964f5c",
        "name": "OpenWeatherMap API Integration",
        "style": {
            "label": true,
            "stroke": "#2196F3",
            "stroke-opacity": "1",
            "fill": "#E3F2FD",
            "fill-opacity": "0.5"
        },
        "nodes": [
            "f748ebec4ed729c5",
            "a7ceaef8dcaa2006",
            "3f9a7086df77a480",
            "fe351faf532dbb69",
            "4475ea9db8fc63ce",
            "1256d1d384462e43",
            "e53626ba8a8486b8"
        ],
        "x": 54,
        "y": 639,
        "w": 1112,
        "h": 222
    },
    {
        "id": "9f722bf52141d174",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "Humidity",
        "topic": "esp32/sensor/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "ab18a4bf02d10bdd",
                "31d1603786f459a1"
            ]
        ]
    },
    {
        "id": "070c443e4677af1d",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "Pressure",
        "topic": "esp32/sensor/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "dbea9227ddb94e68",
                "6332db37853fa825"
            ]
        ]
    },
    {
        "id": "5870b49dcbf5837e",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "CO2",
        "topic": "esp32/sensor/co2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "2fd355ef5af66522",
                "169b63f8bad81f0e"
            ]
        ]
    },
    {
        "id": "3393015b3419f84e",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "Dust",
        "topic": "esp32/sensor/dust",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "a5f82dbcc7c063db",
                "9217eb97c6d15254"
            ]
        ]
    },
    {
        "id": "32248cbea328253b",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "AQI",
        "topic": "esp32/sensor/aqi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "271be1c6ea49b957",
                "b6338a750ba4dd9c"
            ]
        ]
    },
    {
        "id": "715abdd0d511f358",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "Temperature",
        "topic": "esp32/sensor/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "756f9493cc66a4f8",
                "ba517c75609cc476"
            ]
        ]
    },
    {
        "id": "756f9493cc66a4f8",
        "type": "ui_gauge",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "Temperature Gauge",
        "group": "5aec396a7f817308",
        "order": 1,
        "width": "8",
        "height": "5",
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "ab18a4bf02d10bdd",
        "type": "ui_gauge",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "Humidity Gauge",
        "group": "5aec396a7f817308",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 160,
        "wires": []
    },
    {
        "id": "dbea9227ddb94e68",
        "type": "ui_gauge",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "Pressure Gauge",
        "group": "5aec396a7f817308",
        "order": 3,
        "width": "8",
        "height": "5",
        "gtype": "donut",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{value | number:1}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "980",
        "seg2": "1020",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "2fd355ef5af66522",
        "type": "ui_gauge",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "CO2 Gauge",
        "group": "94f03bc6e0320edd",
        "order": 1,
        "width": "8",
        "height": "5",
        "gtype": "donut",
        "title": "CO2",
        "label": "ppm",
        "format": "{{value | number:0}}",
        "min": "400",
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "800",
        "seg2": "1200",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "a5f82dbcc7c063db",
        "type": "ui_gauge",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "Dust Gauge",
        "group": "94f03bc6e0320edd",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "donut",
        "title": "Dust",
        "label": "μg/m³",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35.4",
        "seg2": "150.4",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 460,
        "wires": []
    },
    {
        "id": "271be1c6ea49b957",
        "type": "ui_gauge",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "AQI Gauge",
        "group": "94f03bc6e0320edd",
        "order": 3,
        "width": "8",
        "height": "5",
        "gtype": "donut",
        "title": "AQI",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "200",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 560,
        "wires": []
    },
    {
        "id": "ba517c75609cc476",
        "type": "ui_chart",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "Temperature History",
        "group": "4cfb1c5353984686",
        "order": 1,
        "width": "12",
        "height": "7",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "31d1603786f459a1",
        "type": "ui_chart",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "Humidity History",
        "group": "4cfb1c5353984686",
        "order": 2,
        "width": "12",
        "height": "7",
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6332db37853fa825",
        "type": "ui_chart",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "Pressure History",
        "group": "3302b0f6c88da3e5",
        "order": 1,
        "width": "12",
        "height": "7",
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "169b63f8bad81f0e",
        "type": "ui_chart",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "CO2 History",
        "group": "3302b0f6c88da3e5",
        "order": 2,
        "width": "12",
        "height": "7",
        "label": "CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9217eb97c6d15254",
        "type": "ui_chart",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "Dust History",
        "group": "68e8d7ac28844c49",
        "order": 1,
        "width": "12",
        "height": "7",
        "label": "Dust",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#9467bd"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b6338a750ba4dd9c",
        "type": "ui_chart",
        "z": "5c2e9b2fe9964f5c",
        "g": "3704a8085949e857",
        "name": "AQI History",
        "group": "68e8d7ac28844c49",
        "order": 2,
        "width": "12",
        "height": "7",
        "label": "AQI",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#8c564b"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "1c4ff6804eba0c4d",
        "type": "function",
        "z": "5c2e9b2fe9964f5c",
        "g": "cfdbd4262875d888",
        "name": "Format MySQL Data",
        "func": "let sensor = context.get('sensor') || {};\n\nswitch (msg.topic) {\n    case 'esp32/sensor/temperature':\n        sensor.temperature = parseFloat(msg.payload);\n        break;\n    case 'esp32/sensor/humidity':\n        sensor.humidity = parseFloat(msg.payload);\n        break;\n    case 'esp32/sensor/pressure':\n        sensor.pressure = parseFloat(msg.payload);\n        break;\n    case 'esp32/sensor/co2':\n        sensor.co2 = parseFloat(msg.payload);\n        break;\n    case 'esp32/sensor/dust':\n        sensor.dust = parseFloat(msg.payload);\n        break;\n    case 'esp32/sensor/aqi':\n        sensor.aqi = parseFloat(msg.payload);\n        break;\n}\n\ncontext.set('sensor', sensor);\n\n// Check if we have all sensor readings\nif (sensor.temperature !== undefined &&\n    sensor.humidity !== undefined &&\n    sensor.pressure !== undefined &&\n    sensor.co2 !== undefined &&\n    sensor.dust !== undefined &&\n    sensor.aqi !== undefined) {\n    \n    let now = new Date();\n    now.setHours(now.getHours() + 7); // Vietnam timezone\n    let timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n    \n    msg.topic = `INSERT INTO sensor_data (temperature, humidity, pressure, co2, dust, aqi, timestamp) VALUES (${sensor.temperature}, ${sensor.humidity}, ${sensor.pressure}, ${sensor.co2}, ${sensor.dust}, ${sensor.aqi}, '${timestamp}')`;\n    \n    // Reset sensor data after storing\n    context.set('sensor', {});\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 60,
        "wires": [
            [
                "e82ee1438ebd066f"
            ]
        ]
    },
    {
        "id": "e82ee1438ebd066f",
        "type": "mysql",
        "z": "5c2e9b2fe9964f5c",
        "g": "cfdbd4262875d888",
        "mydb": "c08db5e37956216c",
        "name": "MySQL Storage",
        "x": 1060,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5cd7c2b325db48af",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "cfdbd4262875d888",
        "name": "Humidity",
        "topic": "esp32/sensor/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "1c4ff6804eba0c4d"
            ]
        ]
    },
    {
        "id": "4d5e60de5a55b8cc",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "cfdbd4262875d888",
        "name": "Pressure",
        "topic": "esp32/sensor/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "1c4ff6804eba0c4d"
            ]
        ]
    },
    {
        "id": "3ab11383b6e837d3",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "cfdbd4262875d888",
        "name": "CO2",
        "topic": "esp32/sensor/co2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "1c4ff6804eba0c4d"
            ]
        ]
    },
    {
        "id": "b7e4ae74cf07d859",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "cfdbd4262875d888",
        "name": "Dust",
        "topic": "esp32/sensor/dust",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "1c4ff6804eba0c4d"
            ]
        ]
    },
    {
        "id": "02f2b9a3b58f3b1e",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "cfdbd4262875d888",
        "name": "AQI",
        "topic": "esp32/sensor/aqi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "1c4ff6804eba0c4d"
            ]
        ]
    },
    {
        "id": "b7b1204bedc6bd99",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "cfdbd4262875d888",
        "name": "Temperature",
        "topic": "esp32/sensor/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 60,
        "wires": [
            [
                "1c4ff6804eba0c4d"
            ]
        ]
    },
    {
        "id": "8a4460bfc763bfd9",
        "type": "inject",
        "z": "5c2e9b2fe9964f5c",
        "g": "cfdbd4262875d888",
        "name": "Send sensor_data every 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 880,
        "y": 120,
        "wires": [
            [
                "414f99a6d3237c37"
            ]
        ]
    },
    {
        "id": "414f99a6d3237c37",
        "type": "function",
        "z": "5c2e9b2fe9964f5c",
        "g": "cfdbd4262875d888",
        "name": "Collect and Insert Sensor Data",
        "func": "try {\n    // Get stored sensor data\n    let sensor = context.get('sensor') || {};\n    \n    // Get values or default to 0\n    const temperature = sensor.temperature || 0;\n    const humidity = sensor.humidity || 0;\n    const pressure = sensor.pressure || 0;\n    const co2 = sensor.co2 || 0;\n    const dust = sensor.dust || 0;\n    const aqi = sensor.aqi || 0;\n    \n    // Create timestamp\n    let now = new Date();\n    now.setHours(now.getHours() + 7); // Vietnam timezone\n    let timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n    \n    // Create INSERT query\n    const query = `INSERT INTO sensor_data (temperature, humidity, pressure, co2, dust, aqi, timestamp) VALUES (${temperature}, ${humidity}, ${pressure}, ${co2}, ${dust}, ${aqi}, '${timestamp}')`;\n    \n    msg.topic = query;\n    msg.payload = {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n        co2: co2,\n        dust: dust,\n        aqi: aqi,\n        timestamp: timestamp\n    };\n    \n    node.log(`Sensor Data - Temp: ${temperature}°C, Humidity: ${humidity}%, Pressure: ${pressure}hPa, CO2: ${co2}ppm, Dust: ${dust}μg/m³, AQI: ${aqi}`);\n    \n    return msg;\n    \n} catch (error) {\n    node.error('Error collecting sensor data: ' + error.message);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 200,
        "wires": [
            [
                "39f1e1ed8c7f55fb"
            ]
        ]
    },
    {
        "id": "39f1e1ed8c7f55fb",
        "type": "mysql",
        "z": "5c2e9b2fe9964f5c",
        "g": "cfdbd4262875d888",
        "mydb": "c08db5e37956216c",
        "name": "MySQL Insert sensor_data",
        "x": 1020,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "898e06729d3cde30",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "54964a7e613b44dc",
        "name": "Humidity",
        "topic": "esp32/sensor/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "96e88ac062c96179"
            ]
        ]
    },
    {
        "id": "76e24ebb14187047",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "54964a7e613b44dc",
        "name": "Pressure",
        "topic": "esp32/sensor/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 460,
        "wires": [
            [
                "96e88ac062c96179"
            ]
        ]
    },
    {
        "id": "8245b0de244f98fd",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "54964a7e613b44dc",
        "name": "CO2",
        "topic": "esp32/sensor/co2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "96e88ac062c96179"
            ]
        ]
    },
    {
        "id": "1eab2ee59237e875",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "54964a7e613b44dc",
        "name": "Dust",
        "topic": "esp32/sensor/dust",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 580,
        "wires": [
            [
                "96e88ac062c96179"
            ]
        ]
    },
    {
        "id": "0eee6ec45cc2a6ea",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "54964a7e613b44dc",
        "name": "AQI",
        "topic": "esp32/sensor/aqi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 600,
        "wires": [
            [
                "96e88ac062c96179"
            ]
        ]
    },
    {
        "id": "e81bd4fe1a9e9e16",
        "type": "mqtt in",
        "z": "5c2e9b2fe9964f5c",
        "g": "54964a7e613b44dc",
        "name": "Temperature",
        "topic": "esp32/sensor/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "96e88ac062c96179"
            ]
        ]
    },
    {
        "id": "3c540857e7b0d99e",
        "type": "firebase-out",
        "z": "5c2e9b2fe9964f5c",
        "g": "54964a7e613b44dc",
        "name": "Save to Firebase",
        "database": "4cc9225acd81a250",
        "path": "env_data",
        "pathType": "str",
        "priority": "0",
        "queryType": "update",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "96e88ac062c96179",
        "type": "function",
        "z": "5c2e9b2fe9964f5c",
        "g": "54964a7e613b44dc",
        "name": "Format Firebase Data",
        "func": "try {\n    // Parse value to number\n    let value = parseFloat(msg.payload);\n    if (isNaN(value)) {\n        node.error('Invalid sensor value');\n        return null;\n    }\n\n    // Round to 2 decimal places\n    value = Math.round(value * 100) / 100;\n\n    // Get sensor name from topic\n    const sensorType = msg.topic.split('/').pop();\n\n    // Create update payload\n    msg.payload = {\n        [`sensors/${sensorType}`]: value\n    };\n\n    node.log(`Storing ${sensorType}: ${value}`);\n    return msg;\n    \n} catch (error) {\n    node.error('Error processing sensor data: ' + error.message);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 400,
        "wires": [
            [
                "3c540857e7b0d99e",
                "41670f9a9970932d"
            ]
        ]
    },
    {
        "id": "41670f9a9970932d",
        "type": "debug",
        "z": "5c2e9b2fe9964f5c",
        "g": "54964a7e613b44dc",
        "name": "Debug Firebase Data",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 540,
        "wires": []
    },
    {
        "id": "f748ebec4ed729c5",
        "type": "inject",
        "z": "5c2e9b2fe9964f5c",
        "g": "b51f6c953abae749",
        "name": "Fetch every 5 seconds",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "openweathermap",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openweathermap",
        "payload": "{}",
        "payloadType": "json",
        "x": 210,
        "y": 680,
        "wires": [
            [
                "a7ceaef8dcaa2006"
            ]
        ]
    },
    {
        "id": "a7ceaef8dcaa2006",
        "type": "http request",
        "z": "5c2e9b2fe9964f5c",
        "g": "b51f6c953abae749",
        "name": "OpenWeatherMap Current Weather",
        "method": "GET",
        "ret": "obj",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=10.7769&lon=106.7009&appid=ec57bf8c63c318b4affa378386c4a1e9&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": {},
        "x": 260,
        "y": 780,
        "wires": [
            [
                "3f9a7086df77a480",
                "4475ea9db8fc63ce"
            ]
        ]
    },
    {
        "id": "3f9a7086df77a480",
        "type": "function",
        "z": "5c2e9b2fe9964f5c",
        "g": "b51f6c953abae749",
        "name": "Parse Weather Data",
        "func": "try {\n    const response = msg.payload;\n    \n    if (!response || !response.main) {\n        node.error('Invalid OpenWeatherMap response');\n        return null;\n    }\n    \n    // Extract wind speed and rainfall\n    const windSpeed = response.wind ? response.wind.speed : 0;\n    const rainfall = response.rain ? response.rain['1h'] : 0; // rainfall in last 1 hour\n    const temperature = response.main.temp || 0;\n    const humidity = response.main.humidity || 0;\n    const description = response.weather[0].description || '';\n    \n    // Create timestamp\n    let now = new Date();\n    now.setHours(now.getHours() + 7); // Vietnam timezone\n    let timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n    \n    // Store in context for later use\n    context.set('weather_data', {\n        windSpeed: windSpeed,\n        rainfall: rainfall,\n        temperature: temperature,\n        humidity: humidity,\n        description: description,\n        timestamp: timestamp\n    });\n    \n    node.log(`Weather - Wind: ${windSpeed} m/s, Rain: ${rainfall} mm`);\n    \n    // Pass to next node for UV index\n    msg.payload = { status: 'fetching_uv' };\n    return msg;\n    \n} catch (error) {\n    node.error('Error parsing weather data: ' + error.message);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 760,
        "wires": [
            [
                "1256d1d384462e43"
            ]
        ]
    },
    {
        "id": "1256d1d384462e43",
        "type": "http request",
        "z": "5c2e9b2fe9964f5c",
        "g": "b51f6c953abae749",
        "name": "OpenWeatherMap UV Index",
        "method": "GET",
        "ret": "obj",
        "url": "https://api.openweathermap.org/data/2.5/uvi?lat=10.7769&lon=106.7009&appid=ec57bf8c63c318b4affa378386c4a1e9",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": {},
        "x": 580,
        "y": 680,
        "wires": [
            [
                "e53626ba8a8486b8"
            ]
        ]
    },
    {
        "id": "e53626ba8a8486b8",
        "type": "function",
        "z": "5c2e9b2fe9964f5c",
        "g": "b51f6c953abae749",
        "name": "Parse UV Index & Insert DB",
        "func": "try {\n    // Get UV index from API response\n    const uvResponse = msg.payload;\n    const uvIndex = uvResponse.value || 0;\n    \n    // Get previously stored weather data\n    const weatherData = context.get('weather_data') || {};\n    \n    const windSpeed = weatherData.windSpeed || 0;\n    const rainfall = weatherData.rainfall || 0;\n    const timestamp = weatherData.timestamp || new Date().toISOString().slice(0, 19).replace('T', ' ');\n    \n    // Create INSERT query for weather_forecasting database\n    const query = `INSERT INTO weather_forecasting (wind_speed, rainfall, uv_index, timestamp) VALUES (${windSpeed}, ${rainfall}, ${uvIndex}, '${timestamp}')`;\n    \n    msg.topic = query;\n    msg.payload = {\n        windSpeed: windSpeed,\n        rainfall: rainfall,\n        uvIndex: uvIndex,\n        timestamp: timestamp\n    };\n    \n    node.log(`Inserting - Wind: ${windSpeed} m/s, Rain: ${rainfall} mm, UV: ${uvIndex}`);\n    \n    return msg;\n    \n} catch (error) {\n    node.error('Error parsing UV data: ' + error.message);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 680,
        "wires": [
            [
                "fe351faf532dbb69"
            ]
        ]
    },
    {
        "id": "fe351faf532dbb69",
        "type": "mysql",
        "z": "5c2e9b2fe9964f5c",
        "g": "b51f6c953abae749",
        "mydb": "c08db5e37956216c",
        "name": "Store to weather_forecasting",
        "x": 1020,
        "y": 760,
        "wires": [
            [
                "4475ea9db8fc63ce"
            ]
        ]
    },
    {
        "id": "4475ea9db8fc63ce",
        "type": "debug",
        "z": "5c2e9b2fe9964f5c",
        "g": "b51f6c953abae749",
        "name": "OpenWeatherMap Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.windSpeed",
        "statusType": "msg",
        "x": 900,
        "y": 820,
        "wires": []
    },
    {
        "id": "6df0540f12236ba5",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "192.168.101.88",
        "port": "1883",
        "clientid": "node-red-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5aec396a7f817308",
        "type": "ui_group",
        "name": "Environmental Sensors",
        "tab": "environment_tab",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "94f03bc6e0320edd",
        "type": "ui_group",
        "name": "Air Quality Sensors",
        "tab": "environment_tab",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4cfb1c5353984686",
        "type": "ui_group",
        "name": "Temperature & Humidity History",
        "tab": "environment_tab",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3302b0f6c88da3e5",
        "type": "ui_group",
        "name": "Pressure & CO2 History",
        "tab": "environment_tab",
        "order": 4,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "68e8d7ac28844c49",
        "type": "ui_group",
        "name": "Dust & AQI History",
        "tab": "environment_tab",
        "order": 5,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c08db5e37956216c",
        "type": "MySQLdatabase",
        "name": "Environment DB",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "weather_forecasting",
        "tz": "Asia/Ho_Chi_Minh",
        "charset": "UTF8"
    },
    {
        "id": "4cc9225acd81a250",
        "type": "firebase-config",
        "name": "My Database",
        "authType": "privateKey",
        "claims": {},
        "createUser": false,
        "status": {
            "firestore": true,
            "storage": false
        },
        "useClaims": false
    },
    {
        "id": "environment_tab",
        "type": "ui_tab",
        "name": "Environmental Monitor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]